#footer{
  background-color: $color-light;
  padding-top:15px;
  padding-bottom:15px;
  & .v-center.row{
    @media (max-width:$break-sm){
         display:inline-block;
         width:100%;
         margin:0;
       }
  }
  & .image{
    text-align: left;
    @media (max-width:$break-sm){
         text-align: center;
         margin-bottom: 40px;
       }
    & img{
      width: 180px;
      opacity: 0.7;
      opacity: 1;
    }
  }
  & .social-links{
    text-align: right;
    & li{
      margin:auto 10px;
       @media (max-width:$break-sm){
         margin-bottom: 40px;
       }
      & img{
        width: 36px;
        height:auto;
      }
    }
  }
}
