#gallery {
  background-color: $color-light;
  & .gallery-images {
    margin-top: 42px;
  }
  & img {
    display: inline-block;
    width: 100%;
    margin-bottom: 1.6em;
    border-radius: 4px;
  }
}

#team {
  background-color: #f9fdff;
  text-align: center;
  .rounded {
    width: 140px;
    height: 140px;
    margin: 20px auto;

    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }

  .team-item {
    display: inline-block;
    float: none;
    margin: 15px 0;
    }

    .name {
      font-weight: 500;
      font-size: 16px;
    }
  }
