#intro {
  background-image: url("../images/backgrounds/index_bg.jpg");
  min-height: 100vh;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .bg {
    background: rgba(0, 0, 0, 0.77);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .intro-content {
    width: 100%;
    position: relative;
    z-index: 2;
  }

  .logo {
    padding-bottom: 50px;
    text-align: center;

    img {
      max-width: 300px;
      width: 100%;
    }
  }

  .slogan {
    text-align: center;

    p {
      color: #ccc;
    }

    h1 {
      color: #fff;
      font-size: 43px;
      font-weight: bold;
    }
  }

  .info {
    padding: 42px 0;

    .box {
      display: table;
      margin: auto;
      @media (max-width: $break-sm) {
        margin-bottom: 30px;
      }

      .icon {
        float: left;
        svg {
          font-size: 63px;
          color: #fff;
        }
      }

      .text {
        float: left;
        padding-left: 30px;
        margin-top: 5px;
        color: #fff;

        h3 {
          margin: 0;
          font-size: 42px;
          font-weight: bold;
          color: $color-primary;
          line-height: 22px;
        }

        span {
          display: block;
          font-size: 22px;
          font-weight: 400;
          margin-top: 10px;
        }
      }
    }
  }
  .register {
    text-align: center;
    margin-bottom: 10px;
  }
}
