.map-container {
  overflow: hidden;
  height: 380px;
  width: 700px;
}

#maps {
  position: relative;

  .bg {
    background: -moz-linear-gradient(
      left,
      rgba(0, 0, 0, 0) 0%,
      rgba(251, 251, 251, 0.75) 51%,
      rgba(251, 251, 251, 1) 68%
    );
    background: -webkit-linear-gradient(
      left,
      rgba(0, 0, 0, 0) 0%,
      rgba(251, 251, 251, 0.75) 51%,
      rgba(251, 251, 251, 1) 68%
    );
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(251, 251, 251, 0.75) 51%,
      rgba(251, 251, 251, 1) 68%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#00000000', endColorstr='#fbfbfb',GradientType=1 );
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .container.custom {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    .promotion {
      text-align: right;
      width: 60%;
      margin-left: auto;
      margin-top: 8%;

      @media (max-width: $break-md) {
        width: 80%;
      }
      @media (max-width: $break-sm) {
        width: 100%;
      }
      & h3 {
        position: relative;
        &:after {
          display: inline-block;
          position: absolute;
          bottom: -20px;
          right: 0;
        }
      }
      & p {
        margin-top: 20px;
      }
      & .icon {
        margin-top: 24px;
        & img {
          height: 107px;
        }
      }
      & .location {
        & a {
          margin-top: 25px;
        }
      }
    }
  }
}

#map {
  height: 380px;
  width: 100%;
  @media (max-width: $break-sm) {
    height: 450px;
  }
}

.etkinlik-yeri {
  margin-top: 30px;
  .title {
    margin-bottom: 30px;
  }

  h5 {
    font-size: 16px;
    font-weight: 600;
  }
}
