.navbar {
  min-height: 70px;

  .container {
    margin-top: 10px;
  }
}

// .navbar-custom {
//   border-bottom: 1px solid #3a3a3a;
//   background: rgba($color: #000000, $alpha: 0);
//   transition: linear 0.3s;
//   font-family: "Titillium Web", sans-serif;

//   li {
//     a {
//       font-size: 14px;
//       color: #fff;
//       text-transform: uppercase;
//       letter-spacing: 0.8px;
//       font-weight: 500;
//       @include transition();
//       &:hover,
//       &:focus {
//         color: $color-primary;
//         background: transparent;
//       }
//     }
//   }
//   &.with-bg {
//     background: rgba($color: #000000, $alpha: 0.9);
//   }
// }

// Mobile Navbar
// .navbar-toggle {
//   background-color: $color-primary;
//   border-radius: 3px !important;
//   .icon-bar {
//     background-color: #fff;
//   }
// }

.navbar-collapse.in,
.navbar-collapse.collapsing {
  background: #000;
  min-height: 100vh;
  .logo {
    display: none;
  }
}
