.navbar-custom {
  border-bottom: 1px solid #3a3a3a;

  li {
    a {
      font-size: 14px;
      color: #ccc;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      font-weight: 300;
      @include transition();
      &:hover,
      &focus {
        color: $color-primary;
        background: transparent;
      }
    }
  }
}
