.navbar {
  min-height: 70px;

  .container {
    margin-top: 10px;
  }
}

.navbar-custom {
  border-bottom: 1px solid $color-primary;
  background: rgba($color: #FFF, $alpha: 1);
  transition: linear .3s;

  .navbar-nav {
    float: right;
  }


  li {
    a {
      font-size: 14px;
      color: #000;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      font-weight: normal;
      @include transition();
      &:hover,
      &focus {
        color: $color-primary;
        background: transparent;
      }
    }
  }
  &.with-bg {
    background: rgba($color: #FFF, $alpha: 1);
  }
}
