#speakers {
  .speakers {
    margin-top: 50px;
  }
  .speaker {
    margin-bottom: 30px;
    position: relative;
    .image {
      img {
        max-width: 100%;
        border-radius: 6px;
      }
    }

    .header {
      padding: 15px 0;
      h4 {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.17;
        margin: 0 0 5px;
      }

      span {
        font-size: 18px;
        color: $color-primary;
        font-family: $font-secondary;
        span {
          font-style: normal;
        }
      }
      .social-links {
        margin-top: 8px;
      }
    }
    .about {
      padding: 20px 10px 15px 0;
    }
  }
}
.border{
  position: absolute;
  z-index: -1;
  right:0;
  bottom:0px;
  width: 200px;
  height: 170px;
  border: 1px solid $color-primary;
  border-color: transparent $color-primary $color-primary transparent;
  border-radius: 0 0 6px 0;
}
