#speakers-section{
  background: url("../images/backgrounds/konusmacilar.jpg") no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  #speakers {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding:50px 0px;
    .speaker-item {
      background: #FFFFFF;
      width: 300px;
      box-shadow: 0 2px 20px 0 rgba(0,0,0,0.09);
      border-radius: 12px;
      color: white;
      margin:80px 20px;
      padding-bottom:25px;
      .speaker-img-container{
        position: absolute;
        margin-top:-100px;
        width: 300px;
        .speaker-img{
          max-width: 80%;
          left:10%;
          position: absolute;
          top:40px;
          border-radius: 50%;
          box-shadow: 0 2px 30px 0 rgba(0,0,0,0.50);
        }
      }
      .speaker-name{
        padding:0px 20px;
        display: block;
        font-size: 18px;
        color:#ACABAB;
        margin-top:225px;
        font-weight: 600;
      }
      .speaker-subject{
        padding:0px 20px;
        font-size: 22px;
        color: #3B3838;
        line-height: 25px;
        font-family: $font-secondary;
        font-weight: 700;
      }
      .speaker-title{
        padding:0px 20px;
        font-size: 14px;
        color: #ACABAB;
      }
      
      .socials{
        list-style-type: none;
        padding:0px 20px;
        margin-top:10px;
        li:first-child{
          margin-left: 0px!important;
        }
        li{
          margin-left:5px;
          float: left;
        }
        
      }
    }
  }
}