#sponsors {
  position: relative;
  background-color: $white;
  background-size: contain;
  text-align: center;
  @media (max-width: $break-sm) {
    background-size: inherit;
    background-position: bottom;
  }
  & .icons {
    margin: auto;
    margin-top: 40px;
    max-width: 820px;
    & .image {
      text-align: center;
      height: 44px;
      @include vertical-center;
    }
    & img {
      height: 44px;
      @media (max-width: $break-sm) {
        height: 35px;
      }
    }
  }

  .sponsor-register {
    margin-top: 20px;
    text-align: center;
    svg {
      margin-right: 5px;
    }
  }

  .sponsor-item {
    display: inline-block;
    margin: 0 20px;
  }

  .section-subtitle {
    img{
      margin-top:30px;
    }
    hr {
     margin-top:80px;
    }

    h3 {
      font-weight: 700;
      font-size: 32px;
      @media (max-width:$break-md) {
        margin-top:70px;
      }
    }
  }
}
