#transportation {
  background-color: $color-light;
  padding-top:15px;
  padding-bottom:15px;

  .options {
    margin-top: 30px;

    ul {
      padding: 20px;
    }

    ul > li {
      padding-bottom: 10px;
    }
  }
}
