@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,400i,600,700&subset=latin-ext");
$icon-font-path: "../fonts/";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

$color-primary: #2196f3;
$color-primary-hover: #1d84d6;
$color-secondary: #000;
$color-dark: #4a4a4a;
$color-light: #f7fdfc;
$color-coffee: #50e3c2;
$white: #ffffff;
$color-eat: #f8ba00;

$font-primary: "Open Sans", sans-serif;
$font-secondary: "Titillium Web", sans-serif;

//breakpoints
$break-xs: 450px;
$break-sm: 768px;
$break-md: 992px;

// transition
//usage: @include transition([property],[duration],[easing]);
@mixin transition($property: all, $duration: 0.2s, $ease: linear) {
  -webkit-transition: $property $duration $ease;
  -moz-transition: $property $duration $ease;
  -o-transition: $property $duration $ease;
  transition: $property $duration $ease;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-secondary;
}

body {
  font-family: $font-primary;
  font-size: 16px;
  color: $color-secondary;
  &.modal-open {
    // position: fixed;
    overflow: hidden;
    width: 100%;
  }
}

.nav > li > a:hover,
.nav > li > a:focus {
  background: transparent;
}

.btn-primary:link,
.btn-primary:visited {
  display: inline-block;
  background-image: linear-gradient(-129deg, #5a84ff 13%, #1acbfe 100%)!important;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.26);
  color: #ffffff;
  letter-spacing: -0.33px;
  padding: 19px 40px;
  font-weight: 700;
}

.btn-primary:hover {
  background-image: linear-gradient(-129deg, #845aff 19%, #e31afe 100%)!important;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.26);
  text-decoration: none;
}

@import "_navbar";
@import "_intro";
@import "_utils";
@import "_about";
@import "_subscribe";
@import "_speakers";
@import "_maps";
@import "_schedule";
@import "_transportation";
@import "_follow";
@import "_gallery";
@import "_sponsors";
@import "_footer";
@import "_mobilemenu";
@import "_tickets";
@import "_pricing";
@import "_guidlines";
